<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Akka" version="1.0.5" targetFramework="net452" />
  <package id="Humanizer" version="1.37.7" targetFramework="net452" />
  <package id="LibGit2Sharp" version="0.21.0.176" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
  <package id="Optional" version="3.0.0" targetFramework="net452" />
  <package id="Topshelf" version="3.3.1" targetFramework="net452" />
</packages>